APP_ENV=development
APP_VERSION=1.0.0
SERVER_PORT=3000

GOOGLE_APPLICATION_CREDENTIALS="src/config/firebase/napoleon-chat-landing-firebase.json"

EMAIL_HOST=
EMAIL_PORT=
EMAIL_ADDRESS=
EMAIL_PASSWORD=

EMAIL_NAPOLEON_TO=info.napoleonchat@gmail.com
EMAIL_GROUP_NAPOLEON_TO=gruponapoleon11@gmail.com
EMAIL_NAPOLEON_MINE_TO=marc@napoleongoldmine.com
EMAIL_BANK_GOLD_TO=gruponapoleon11@gmail.com
